@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1; /* Ensure it stays behind content */
}

.content {
  position: relative;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 7px;
  display: none;
}
